/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  line-height: 1.5em;
}


/*-- LINKS/ANCHORS --*/

a {
  border-bottom:      none;
  line-height:        2rem;
  color:              #bba474;
  font-weight:        800;
}

a:hover { 
  border-bottom: 2px solid; 
}

/*-- HORIZONTAL BARS --*/
hr {
  content:            '';
  display:            block;
  border:             none;
  background-color:   white;
  height:             0.05em;
}

h1 {
  line-height:        2.8rem;
}