
/* Alter Navigation Bar Aesthetics*/

.distill-site-header {
  --title-size: 18px;
  --text-color: rgba(255, 255, 255, 0.8);
  --text-size: 15px;
  --hover-color: white;
  --bkgd-color: #8a2377;
}

.distill-site-header {
  font-weight: 600;
}

/* Change Body Background Color*/
body {
  background-color: #ffffff;
  color: #6c6c6b;
  font-weight: 600;
}


d-title p {
  color: #6c6c6b;
  font-weight: 600;
}

/* Change Hyperlink Color and Hover Behavior*/
d-article a {
  color: #6c6c6b;
  text-decoration: none;
}

a:hover {
  color: #8a2377;
  font-weight: bold;
  text-decoration: none;
}


/* Change Size of Third Header Font and Adjust Padding*/
d-article h3 {
  font-size: 24px;
  margin-top: -8px;
}



/* Change Footer Aesthetics */

.distill-site-footer {
  --text-color: #ffffff;
  --bkgd-color: #8e8e8e;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 12px;
}